/* Google fontss */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


body{
    background-color: #f5f4f4e7;
    
}

/* header style starts */
.influen{
    padding-left: 120px;
    padding-top: 60px;
}

/* header style ends */


/* main nav style starts */

.nav{
    display:flex;
    
    
    
    
    
}

.nav-bar{
    width: 582px;
    height:270px;
    margin-right: 120px;
    padding-top: 210px;
    padding-left: 120px;
}

 .nav-bar .btn{
    width: 190px;
    height: 44px;
    background-color: #E02C6D;
    color:white;
    border:1px solid white;
    border-radius: 40px;
} 

.btn span{
    padding-right: 15px;
}


.camera{
    Width: 440px;
    height: 414px;
    padding-top: 120px;
    padding-right: 120px;


}



.camera:hover img{
    transform:scale(1.2) ;
    transition:transform 2s ease-in-out;

}

/* main nav style ends */

/* menu style starts */

menu{
    margin-top:200px;
  
}

 .popular{
    text-align: center;
} 





.all-collection{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    width:1050px;
    height: 1660px;


}


.collection{
    background-color:rgb(255, 255, 255);
width:330px;
height: 475px;
/* padding:15px; */


}

.collection-img{
    width:300px;
    height:256px;
    padding-left: 15px;
    padding-top: 15px;
}


.collection-details{
    padding-left: 15px;
    padding-right: 15px;
    

}




.star{
    color:#FB8200;
    width: 190px;
    height: 60px;
}

.star span{
    color:black;
    padding-left:10px;
}
.star p{
    color:black;
}
/* menu ends */



/* footer start */

footer{
    width:100%;
    height:250px;
    background-color: rgb(37, 37, 37);
    
    text-align: center;
}

.item{
    padding-top:30px;
}

.write{
   
    color:white;
    
   
}


.far{
    font-size: 15px;
}

.icon {
    padding-top:17px;
}

.icon a{
    padding:10px;
    color:white;
    font-size: 20px;
}



/* Mobile device */

/* @media only screen and (max-width:600px;) {
    .continer{
        width:100%;
        grid-template-columns:repeat(1,1fr);
    }
} */